<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="js/vue.min.js"></script>
    <script src="js/jscolor.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/brand-icons.css">
    <link rel="stylesheet" href="css/index.css" type="text/css">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>SubBox</title>
</head>

<body>
    <div id="app" :class="settings.NightMode ? 'dark-mode' : 'light-mode'">

        <div id="confirmationMenu">
            <div>
                <p>{{confirmationMessage}}</p>
                <div>
                    <button @click="confirmationResult = true; confirmationDone = true;" class="material-icons">
                        done
                    </button>
                    <button @click="confirmationResult = false; confirmationDone = true;" class="material-icons">
                        close
                    </button>
                </div>
            </div>
        </div>

        <div id="ctxMenu">
            <div @click="$event.preventDefault(); actOnClipboard('cut')" v-show="inputContext" class="menuButton">
                <p style="color: transparent" class="material-icons">filter_list</p>
                <p>Cut      [CTRL + X]</p>
            </div>
            <div @click="$event.preventDefault(); actOnClipboard('copy')" v-show="inputContext" class="menuButton">
                <p style="color: transparent" class="material-icons">file_copy</p>
                <p>Copy   [CTRL + C]</p>
            </div>
            <div @click="$event.preventDefault(); actOnClipboard('paste')" v-show="inputContext" class="menuButton" v-bind:class="{tooltip : isFirefox, disabledMenuButton : isFirefox}">
                <div class="tooltiptext ttright">Unavailable in Firefox</div>
                <p style="color: transparent" class="material-icons">filter_list</p>
                <p>Paste  [CTRL + V]</p>
            </div>
            <div @click="$event.preventDefault(); actOnClipboard('delete')" v-show="inputContext" class="menuButton">
                <p style="color: transparent" class="material-icons">file_copy</p>
                <p>Delete [DEL]</p>
            </div>
            <div @click="resetAllFilters()" v-show="videoListMode && (filter !== 'SubBox' || searchFilter !== '' || selectedTag !== null)" class="menuButton">
                <p class="material-icons">filter_list</p>
                <p>Reset all filters</p>
            </div>
            <div @click="deleteFilteredVideos()" v-show="videoListMode && (filter !== 'SubBox' || searchFilter !== '' || selectedTag !== null) && filteredVideos.length !== 0" class="menuButton">
                <p class="material-icons">delete_sweep</p>
                <p>Move all to Trashbin</p>
            </div>
            <div @click="deleteFilteredPlaylistVideos()" v-show="uniqueListMode && playlistFilter !== ''" class="menuButton">
                <p class="material-icons">delete_sweep</p>
                <p>Remove all filtered</p>
            </div>
            <div @click="deleteNotFilteredPlaylistVideos()" v-show="uniqueListMode && playlistFilter !== ''" class="menuButton">
                <p class="material-icons">delete_sweep</p>
                <p>Keep only filtered</p>
            </div>
            <div @click="deleteCompletePlaylist()" v-show="uniqueListMode" class="menuButton">
                <p class="material-icons">delete_sweep</p>
                <p>Delete whole Playlist</p>
            </div>
            <div @click="closeSubBox()" class="menuButton">
                <p class="material-icons">power_settings_new</p>
                <p>Close SubBox</p>
            </div>
            <div @click="toggleInformationMode()" class="menuButton">
                <p class="material-icons">priority_high</p>
                <p>About</p>
            </div>
        </div>

        <div v-show="informationMode" id="informationOverlay">
            <div class="informationOverlayRow">
                <p>SubBox Version:</p>
                <label>{{informationContent[0]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Newest SubBox Version:</p>
                <label>{{newestVersion}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Author:</p>
                <label>{{informationContent[1]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Amount of Videos in Total:</p>
                <label>{{informationContent[2]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Amount of Videos in Playlists:</p>
                <label>{{informationContent[3]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Amount of Videos in Trashbin:</p>
                <label>{{informationContent[4]}}</label>
            </div>
            <div class="informationOverlayRow tooltip">
                <div class="tooltiptext ttdown">Does not include Playlists/Trashbin</div>
                <p>Total Duration of Videos:</p>
                <label>{{totalLength}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Duration of filtered Videos:</p>
                <label>{{filteredLength}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Amount of Channels:</p>
                <label>{{informationContent[5]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Amount of downloaded Videos:</p>
                <label>{{informationContent[6]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Disk Space occupied:</p>
                <label>{{informationContent[7]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Disk Space remaining:</p>
                <label>{{informationContent[8]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Time of last Refresh:</p>
                <label>{{informationContent[9]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Developer Mode:</p>
                <label>{{informationContent[10]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Autostart:</p>
                <label>{{informationContent[11]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Firefox Compatibility Mode:</p>
                <label>{{(isFirefox ? "On" : "Off")}}</label>
            </div>
            <button @click="informationMode = false" class="material-icons tooltip"><div class="tooltiptext ttleft">Close Window</div>exit_to_app</button>
        </div>

        <div v-show="messages.length !== 0" id="notifications">
            <div @click="execEvent(message)" class="message" v-for="message in messages">
                <img :src="message.thumbUrl" />
                <div>
                    <p>{{message.title}}</p>
                    <p style="font-size: 14px">{{message.subtitle}}</p>
                    <p style="font-size: 14px">{{message.text}}</p>
                </div>
            </div>
        </div>

        <div v-show="uniqueListMode" class="videoListDiv">
            <nav>
                <div class="navLeft">
                    <p>Playlist</p><p class="material-icons">view_list</p><p>|</p>
                    <button @click="showListInput()" class="material-icons tooltip"><div class="tooltiptext ttdown">Extend Playlist</div>playlist_add</button>
                </div>
                <div class="navMiddle">
                    <div>
                        <input id="playlistSearch" v-model="playlistFilter" type="text" autocomplete="off" placeholder="Search" />
                        <p class="listCount" style="margin-left: 10px;">{{filteredPlaylist.length}}{{ (uniqueList.length !== filteredPlaylist.length) ? (' / ' + uniqueList.length) : ''}}</p>
                    </div>
                </div>
                <div class="navRight">
                    <button @click="closeUniqueList" class="material-icons closeUniqueListButton tooltip"><div class="tooltiptext ttdown">Back</div>exit_to_app</button>
                </div>
            </nav>

            <div class="scrollList">
                <table class="uniqueList">
                    <tr v-for="video in filteredPlaylist">
                        <td>
                            <div class="videoBox">
                                <div class="videoContentDiv">
                                    <div @click="openVideo(video.id)" @click.middle="openVideo(video.id)" class="videoThumb">
                                        <img :src="video.thumbnailUrl" style="width:246px;height:138px" />
                                        <p>{{video.duration}}</p>
                                    </div>
                                    <div class="videoTextContentDiv">
                                        <div class="videoTitleDiv">
                                            <div class="videoTitleAndMetaDiv">
                                                <div @click="openVideo(video.id)" @click.middle="openVideo(video.id)" class="videoTitle">
                                                    {{video.title}}
                                                </div>
                                                <div class="videoText">
                                                    <span class="videoTextChannel" @click="openChannel(video.channelName)">{{video.channelTitle}}</span> &#9679 {{video.publishedAtString}}
                                                </div>
                                            </div>
                                            <div class="videoTitleButtons">
                                                <button class="material-icons videoTitleButton tooltip" @click="deleteVideo(video)"><div class="tooltiptext ttright">Remove from Playlist</div>clear</button>
                                            </div>
                                        </div>

                                        <div class="videoDesc">
                                            <p>{{video.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div v-show="trashbinMode" class="videoListDiv">
            <nav>
                <div class="navLeft">
                    <p>Trashbin</p><p class="material-icons">view_list</p><p>|</p>
                    <p class="listCount" style="margin-left: 10px;">{{oldVideos.length}} Video{{(oldVideos.length != 1) ? 's' : ''}}</p>
                </div>
                <div class="navMiddle">

                </div>
                <div class="navRight">
                    <button @click="closeTrashbin" class="material-icons closeUniqueListButton tooltip"><div class="tooltiptext ttdown">Back</div>exit_to_app</button>
                </div>
            </nav>
            <div class="scrollList">
                <table class="uniqueList">
                    <tr v-for="video in oldVideos">
                        <td>
                            <div class="videoBox">
                                <div class="videoChannelDiv">
                                    <img :src="video.channelPicUrl" style="left:0;width:32px;height:32px;border-radius: 50%;vertical-align:middle;cursor:pointer;" @click="openChannel(video.channelName)" />
                                    <span class="videoHeaderName" @click="openChannel(video.channelName)">{{video.channelTitle}}</span>
                                </div>
                                <div class="videoContentDiv">
                                    <div @click="openVideo(video.id)" @click.middle="openVideo(video.id)" class="videoThumb">
                                        <img :src="video.thumbnailUrl" style="width:246px;height:138px" />
                                        <p>{{video.duration}}</p>
                                    </div>
                                    <div class="videoTextContentDiv">
                                        <div class="videoTitleDiv">
                                            <div class="videoTitleAndMetaDiv">
                                                <div @click="openVideo(video.id)" @click.middle="openVideo(video.id)" class="videoTitle">
                                                    {{video.title}}
                                                </div>
                                                <div class="videoText">
                                                    <span class="videoTextChannel" @click="openChannel(video.channelName)">{{video.channelTitle}}</span> &#9679 {{video.publishedAtString}}
                                                </div>
                                            </div>
                                            <div class="videoTitleButtons">
                                                <button class="material-icons videoTitleButton tooltip" @click="reactivateVideo(video)"><div class="tooltiptext ttright">Add back to SubBox</div>add</button>
                                            </div>
                                        </div>

                                        <div class="videoDesc">
                                            <p>{{video.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="settingsUI" v-show="settingsMode" class="settingsOverlay">
            <div class="settingCategoryList">
                <div @click="settingsTab = 0">
                    <div class="listSelectedMarker">
                        <div v-show="settingsTab === 0"></div>
                    </div>
                    <p class="material-icons">
                        account_circle
                    </p>
                    <label>
                        General
                    </label>
                </div>
                <div @click="settingsTab = 1">
                    <div class="listSelectedMarker">
                        <div v-show="settingsTab === 1"></div>
                    </div>
                    <p class="material-icons">
                        notifications
                    </p>
                    <label>
                        Notifications
                    </label>
                </div>
                <div @click="settingsTab = 2">
                    <div class="listSelectedMarker">
                        <div v-show="settingsTab === 2"></div>
                    </div>
                    <p class="material-icons">
                        computer
                    </p>
                    <label>
                        Console
                    </label>
                </div>
            </div>
            <div v-show="settingsTab === 0" class="settingsList">
                <div class="singleSetting" @click.prevent="switchDesign()">
                    <div style="justify-content: flex-start;">
                        <p>Dark Theme</p>
                    </div>
                    <div style="justify-content: flex-end;">
                        <label class="switch">
                            <input type="checkbox" v-model="settings.NightMode" />
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
                <div class="singleSetting">
                    <div style="justify-content: flex-start;">
                        <p>Channel Retrieval (Days)</p>
                    </div>
                    <div style="justify-content: flex-end;">
                        <div class="numberInput">
                            <button @click="if (settings.NewChannelTimeFrame > 1) settings.NewChannelTimeFrame--" class="material-icons">remove</button>
                            <input v-model="settings.NewChannelTimeFrame" type="number" id="NCT" name="NCT" readonly />
                            <button @click="if (settings.NewChannelTimeFrame < 90) settings.NewChannelTimeFrame++" class="material-icons">add</button>
                        </div>
                    </div>
                </div>
                <div class="singleSetting">
                    <div style="justify-content: flex-start;">
                        <p>Retrieval Time (Days)</p>
                    </div>
                    <div style="justify-content: flex-end;">
                        <div class="numberInput">
                            <button @click="if (settings.RetrievalTimeFrame > 1) settings.RetrievalTimeFrame--" class="material-icons">remove</button>
                            <input v-model="settings.RetrievalTimeFrame" type="number" id="RT" name="RT" readonly />
                            <button @click="if (settings.RetrievalTimeFrame < 14) settings.RetrievalTimeFrame++" class="material-icons">add</button>
                        </div>
                    </div>
                </div>
                <div class="singleSetting">
                    <div style="justify-content: flex-start;">
                        <p>Deletion Time (Days)</p>
                    </div>
                    <div style="justify-content: flex-end;">
                        <div class="numberInput">
                            <button @click="if (settings.DeletionTimeFrame > 14) settings.DeletionTimeFrame--" class="material-icons">remove</button>
                            <input v-model="settings.DeletionTimeFrame" type="number" id="DT" name="DT" readonly />
                            <button @click="settings.DeletionTimeFrame++" class="material-icons">add</button>
                        </div>
                    </div>
                </div>
                <div class="singleSetting">
                    <div style="justify-content: flex-start;">
                        <p>Playlist Playback Size</p>
                    </div>
                    <div style="justify-content: flex-end;">
                        <div class="numberInput">
                            <button @click="if (settings.PlaylistPlaybackSize > 10) settings.PlaylistPlaybackSize--" class="material-icons">remove</button>
                            <input v-model="settings.PlaylistPlaybackSize" type="number" id="PPS" name="PPS" readonly />
                            <button @click="settings.PlaylistPlaybackSize++" class="material-icons">add</button>
                        </div>
                    </div>
                </div>
                <div class="singleSetting">
                    <div style="justify-content: flex-start;">
                        <p>Accent Color</p>
                    </div>
                    <div style="justify-content: flex-end;">
                        <div class="numberInput">
                            <button @click="resetColor" class="material-icons">replay</button>
                            <input v-model="settings.Color" id="colorPicker" @change="setColor()" class="jscolor" />
                            <button class="material-icons" style="color: transparent; background: transparent; cursor: default; border: 1px solid transparent;">add</button>
                        </div>
                    </div>
                </div>
                <div class="singleSetting">
                    <div style="justify-content: flex-start;">
                        <p>Preferred Quality</p>
                    </div>
                    <div style="justify-content: flex-end;">
                        <div class="numberInput">
                            <select v-model="settings.PreferredQuality">
                                <option value="0">
                                    2160p60
                                </option>
                                <option value="1">
                                    2160p30
                                </option>
                                <option value="2">
                                    1440p60
                                </option>
                                <option value="3">
                                    1440p30
                                </option>
                                <option value="4">
                                    1080p60
                                </option>
                                <option value="5">
                                    1080p30
                                </option>
                                <option value="6">
                                    720p60
                                </option>
                                <option value="7">
                                    720p30
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div v-show="settingsTab === 1" class="settingsList">
                <div class="singleSetting" @click.prevent="settings.ConfirmWindow = !settings.ConfirmWindow">
                    <div style="justify-content: flex-start;">
                        <p>Show Confirmation Window</p>
                    </div>
                    <div style="justify-content: flex-end;">
                        <label class="switch">
                            <input type="checkbox" v-model="settings.ConfirmWindow" />
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
                <div class="singleSetting" @click.prevent="settings.NewVersionNotification = !settings.NewVersionNotification">
                    <div style="justify-content: flex-start;">
                        <p>Show New Version Notifications</p>
                    </div>
                    <div style="justify-content: flex-end;">
                        <label class="switch">
                            <input type="checkbox" v-model="settings.NewVersionNotification" />
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
                <div class="singleSetting" @click.prevent="settings.DownloadFinishedNotification = !settings.DownloadFinishedNotification">
                    <div style="justify-content: flex-start;">
                        <p>Show Download Finished Notifications</p>
                    </div>
                    <div style="justify-content: flex-end;">
                        <label class="switch">
                            <input type="checkbox" v-model="settings.DownloadFinishedNotification" />
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
                <div class="singleSetting" @click.prevent="settings.VideosDeletedNotification = !settings.VideosDeletedNotification">
                    <div style="justify-content: flex-start;">
                        <p>Show Videos Deleted Notifications</p>
                    </div>
                    <div style="justify-content: flex-end;">
                        <label class="switch">
                            <input type="checkbox" v-model="settings.VideosDeletedNotification" />
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
                <div class="singleSetting" @click.prevent="settings.ChannelAddedNotification = !settings.ChannelAddedNotification">
                    <div style="justify-content: flex-start;">
                        <p>Show Channel Added Notifications</p>
                    </div>
                    <div style="justify-content: flex-end;">
                        <label class="switch">
                            <input type="checkbox" v-model="settings.ChannelAddedNotification" />
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div v-show="settingsTab === 2" class="settingsList">
                <div class="singleSetting" @click.prevent="settings.DevMode = !settings.DevMode">
                    <div style="justify-content: flex-start;">
                        <p>Developer Mode</p>
                    </div>
                    <div style="justify-content: flex-end;">
                        <label class="switch">
                            <input type="checkbox" v-model="settings.DevMode" />
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
                <div class="singleSetting" @click.prevent="settings.AutoStart = !settings.AutoStart">
                    <div style="justify-content: flex-start;">
                        <p>Open Website on Startup</p>
                    </div>
                    <div style="justify-content: flex-end;">
                        <label class="switch">
                            <input type="checkbox" v-model="settings.AutoStart" />
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div id="addPlaylistUI" v-show="inputListMode" class="inputListOverlay">
            <input @keyup.enter="submitPlaylist" v-model="addPlayList" autocomplete="off" type="text" name="PlaylistId" placeholder="Playlist Id..." />
            <button @click="submitPlaylist" class="material-icons addPlaylistButton">add</button>
        </div>

        <div id="tagsUI" v-show="tagsMode" class="overlay">
            <div class="addTagDiv">
                <input @keyup.enter="submitTag" class="addTagInput" v-model="addTag" type="text" autocomplete="off" placeholder="Enter Tag Name..." />
                <button @click="submitTag" class="material-icons addTagButton">add</button>
            </div>
            <table class="channelList" v-for="tag in tags">
                <tr v-bind:class="{ locked: selectedTag != null && selectedTag.name == tag.name }" class="channelRow">
                    <td class="channelNameColumn" style="width: 210px">
                        {{tag.name}}
                    </td>
                    <td class="channelButtonColumn" style="width: 100px">
                        <button @click="selectTag(tag)" class="material-icons deleteChannelButton tooltip"><div class="tooltiptext tooltiptextInverseColor ttleft">Select Tag</div>star</button>
                        <button @click="editTag(tag)" class="material-icons deleteChannelButton tooltip"><div class="tooltiptext tooltiptextInverseColor ttleft">Edit Tag</div>create</button>
                        <button @click="deleteTag(tag)" class="material-icons deleteChannelButton tooltip"><div class="tooltiptext tooltiptextInverseColor ttleft">Delete Tag</div>clear</button>
                    </td>
                </tr>
                <tr class="tagFilterRow" v-if="tag.inEdit">
                    <td colspan="2">
                        <table class="tagFilterTable" v-for="(tagFilter,index) in tag.filterList">
                            <tr>
                                <td style="width: 80%">
                                    {{index + 1}}: {{tagFilter}}
                                </td>
                                <td>
                                    <button @click="deleteFilter(tag,tagFilter)" class="material-icons deleteTagFilterButton tooltip"><div class="tooltiptext ttleft">Delete Tag Filter</div>clear</button>
                                </td>
                            </tr>
                        </table>
                        <div class="addTagFilterDiv">
                            <input @keyup.enter="addFilterToTag(tag)" class="addTagFilterInput" v-model="addTagFilter" type="text" autocomplete="off" placeholder="Enter Filter..." list="channels" />
                            <datalist id="channels">
                                <option v-for="ch in channels">{{ch.displayname}}</option>
                            </datalist>
                            <button @click="addFilterToTag(tag)" class="material-icons addTagFilterButton">add</button>
                        </div>
                        <button @click="saveFilters(tag)" class="material-icons closeChannelsButton tooltip"><div class="tooltiptext ttleft">Save Changes</div>save</button>
                    </td>
                </tr>
            </table>
        </div>

        <div id="channelUI" v-show="channelMode" class="overlay">
            <div class="channelEntry" v-for="channel in channels" v-bind:class="{ locked: channel.locked }">
                <div class="channelEntryContent">
                    <div class="listSelectedMarker">
                        <div v-show="channel.locked"></div>
                    </div>
                    <img :src="channel.thumbnailUrl" @click="openChannel(channel.username)" />
                    <label>
                        {{channel.displayname}}
                    </label>
                </div>
                <div class="channelEntryArrow">
                    <div class="material-icons">
                        keyboard_arrow_right
                    </div>
                    <div class="channelEntryPane">
                        <div class="channelEntryPaneList">
                            <div class="channelEntryPaneListEntry">
                                <img :src="channel.thumbnailUrl" @click="openChannel(channel.username)" />
                            </div>
                            <div class="channelEntryPaneListEntry">
                                {{channel.displayname}}
                            </div>
                            <div class="channelEntryPaneListEntry">
                                <div class="channelEntryPaneListEntryStatistic">
                                    Videos:
                                </div>
                                <div class="channelEntryPaneListEntryStatistic" style="justify-content: flex-end">
                                    10
                                </div>
                            </div>
                            <div class="channelEntryPaneListEntry">
                                <div class="channelEntryPaneListEntryStatistic">
                                    Length:
                                </div>
                                <div class="channelEntryPaneListEntryStatistic" style="justify-content: flex-end">
                                    10:25:46
                                </div>
                            </div>
                            <div class="channelEntryPaneListEntry channelEntryPaneListEntryHover" @click="setFilter(channel)">
                                <div class="material-icons">
                                    star
                                </div>
                                <div class="channelEntryPaneListEntryButton">
                                    Filter by Channel
                                </div>
                            </div>
                            <div class="channelEntryPaneListEntry channelEntryPaneListEntryHover" @click="deleteChannel(channel)">
                                <div class="material-icons">
                                    clear
                                </div>
                                <div class="channelEntryPaneListEntryButton">
                                    Remove Channel
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="channelLastRowDiv">
                <div>
                    <input @keyup.enter="submitChannel()" v-model="addChannelName" autocomplete="off" type="text" name="Username" placeholder="Channel Name..." />
                    <button @click="submitChannel()" class="material-icons addChannelButton">add</button>
                </div>
                <div></div>
            </div>
        </div>

        <div class="spacer">

        </div>
        <div v-show="videoListMode" class="videoListDiv">
            <nav class="mainNav">
                <div class="navLeft">
                    <div class="tooltip">
                        <button @click="showChannels" class="material-icons" v-bind:class="{activeNavButton : channelMode}">{{(filter === 'SubBox') ? 'account_box' : 'star'}} <p>Channels</p></button>
                        <div style="left: 0" class="tooltiptext ttdown">Channel List</div>
                    </div>
                    <div class="tooltip">
                        <button @click="showListInput()" class="material-icons" v-bind:class="{activeNavButton : inputListMode}">playlist_add <p>Add Playlist</p></button>
                        <div class="tooltiptext ttdown">Add Playlist</div>
                    </div>
                    <button @click="showOldVideos" class="material-icons tooltip"><div class="tooltiptext ttdown">Trashbin</div>delete</button>
                    <div class="tooltip">
                        <button @click="showTags" class="material-icons" v-bind:class="{activeNavButton : tagsMode}">label <p>Tags</p></button>
                        <div class="tooltiptext ttdown">Tags</div>
                    </div>
                    <p class="selectedTag" v-if="selectedTag != null">{{selectedTag.name}}</p>
                </div>
                <div class="navMiddle">
                    <div id="topbar" class="topbar">
                        <input id="search" class="search" v-model="searchFilter" type="text" autocomplete="off" placeholder="Search" />
                        <p class="Title" style="cursor: default;"><img v-show="filterImg!==''" :src="filterImg" class="channelPic" />{{filter}} - {{filteredVideos.length}}{{ (videos.length !== filteredVideos.length) ? (' / ' + videos.length) : ''}}</p>
                    </div>
                </div>
                <div class="navRight">
                    <div class="tooltip">
                        <button @click="showSettings" class="material-icons" v-bind:class="{activeNavButton : settingsMode}">settings_applications<p>Settings</p></button>
                        <div class="tooltiptext ttdown">Settings</div>
                    </div>
                    <button @click="window.location.replace('http://localhost:5000/localbrowser.html');" class="material-icons tooltip"><div class="tooltiptext ttdown">SubBox Nightly</div>archive</button>
                    <button @click="refresh" class="material-icons refreshButton">autorenew</button>
                </div>
            </nav>
            <div class="scrollList">
                <table v-show="filter==='SubBox' && searchFilter === '' && selectedTag == null" class="listList">
                    <tr v-for="video in lists">
                        <td>
                            <div class="videoBox">
                                <div class="videoContentDiv">
                                    <div @click="openVideo(video.id)" @click.middle="openVideo(video.id)" class="videoThumb">
                                        <img :src="video.thumbnailUrl" style="width:246px;height:138px" />
                                        <p>{{video.duration}}</p>
                                    </div>
                                    <div class="videoTextContentDiv">
                                        <div class="videoTitleDiv">
                                            <div style="width: 100%" class="videoTitleAndMetaDiv">
                                                <div @click="openVideo(video.id)" @click.middle="openVideo(video.id)" class="videoTitle">
                                                    {{video.title}}
                                                </div>
                                                <div class="videoText">
                                                    <span class="videoTextChannel" @click="openChannel(video.channelName)">{{video.channelTitle}}</span> &#9679 {{video.publishedAtString}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="videoDesc">
                                            <p>{{video.description}}</p>
                                        </div>

                                        <div class="playlistButtonDiv">
                                            <p class="playlistHint">PLAYLIST</p>
                                            <button @click="prev(video.list)" style="margin-left: auto" class="material-icons listButton tooltip"><div class="tooltiptext ttleft">Previous Video</div>fast_rewind</button>
                                            <button @click="next(video.list)" class="material-icons listButton tooltip"><div class="tooltiptext ttright">Next Video</div>fast_forward</button>
                                            <button @click="showUniqueList(video.list)" class="material-icons listButton tooltip"><div class="tooltiptext ttright">Show Playlist</div>view_list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="videoList">
                    <tr v-for="video in filteredVideos">
                        <td>
                            <div class="videoBox">
                                <div class="videoChannelDiv">
                                    <img :src="video.channelPicUrl" style="left:0;width:32px;height:32px;border-radius: 50%;vertical-align:middle;cursor:pointer;" @click="openChannel(video.channelName)" />
                                    <span class="videoHeaderName" @click="openChannel(video.channelName)">{{video.channelTitle}}</span>
                                </div>
                                <div class="videoContentDiv">
                                    <div @click="openVideo(video.id)" @click.middle="openVideo(video.id)" class="videoThumb">
                                        <img :src="video.thumbnailUrl" style="width:246px;height:138px" />
                                        <p>{{video.duration}}</p>
                                    </div>
                                    <div class="videoTextContentDiv">
                                        <div class="videoTitleDiv">
                                            <div class="videoTitleAndMetaDiv">
                                                <div @click="openVideo(video.id)" @click.middle="openVideo(video.id)" class="videoTitle">
                                                    {{video.title}}
                                                </div>
                                                <div class="videoText">
                                                    <span class="videoTextChannel" @click="openChannel(video.channelName)">{{video.channelTitle}}</span> &#9679 {{video.publishedAtString}}
                                                </div>
                                            </div>
                                            <div class="videoTitleButtons">
                                                <button v-show="video.dlstatus == 0" class="material-icons videoTitleButton tooltip" @click="downloadVideo(video)"><div class="tooltiptext ttleft">Download Video</div>save_alt</button>
                                                <button v-show="video.dlstatus == 1" v-bind:id="'video' + video.id" class="dlStatus1Button" style="cursor: default;">{{(video.dlprogress === "100") ? "Just a second..." : video.dlprogress + "% Finished"}}</button>
                                                <button v-show="video.dlstatus == 2" class="dlStatus2Button" @click="window.location.replace('http://localhost:5000/localbrowser.html?id=' + video.id);">Available in Nightly</button>
                                                <button class="material-icons videoTitleButton tooltip" @click="deleteVideo(video)"><div class="tooltiptext ttright">Move to Trashbin</div>clear</button>
                                            </div>
                                        </div>

                                        <div class="videoDesc">
                                            <p>{{video.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="bottomDiv">
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/MilchRatchet/SubBox" class="bottomDivEntry"><i class="bd-github"></i> Github</a>
                    <a href="http://localhost:5000/tutorial.html" class="bottomDivEntry"><i class="bd-html5"></i>Introduction</a>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/" class="bottomDivEntry"><i class="bd-youtube"></i>Youtube</a>
                </div>
            </div>
        </div>


    </div>

    <script src="js/index.js"></script>

</body>



</html>

