<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="js/vue.min.js"></script>
    <script src="js/jscolor.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/brand-icons.css">
    <link rel="stylesheet" href="css/index.css" type="text/css">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>SubBox</title>
</head>

<body>
    <div id="app" :class="night ? 'dark-mode' : 'light-mode'">

        <div id="ctxMenu">
            <div @click="$event.preventDefault(); actOnClipboard('cut')" v-show="inputContext" class="menuButton">
                <p style="color: transparent" class="material-icons">filter_list</p>
                <p>Cut      [CTRL + X]</p>
            </div>
            <div @click="$event.preventDefault(); actOnClipboard('copy')" v-show="inputContext" class="menuButton">
                <p style="color: transparent" class="material-icons">file_copy</p>
                <p>Copy   [CTRL + C]</p>
            </div>
            <div @click="$event.preventDefault(); actOnClipboard('paste')" v-show="inputContext" class="menuButton" v-bind:class="{tooltip : isFirefox, disabledMenuButton : isFirefox}">
                <div class="tooltiptext ttright">Unavailable in Firefox</div>
                <p style="color: transparent" class="material-icons">filter_list</p>
                <p>Paste  [CTRL + V]</p>
            </div>
            <div @click="$event.preventDefault(); actOnClipboard('delete')" v-show="inputContext" class="menuButton">
                <p style="color: transparent" class="material-icons">file_copy</p>
                <p>Delete [DEL]</p>
            </div>
            <div @click="resetAllFilters()" v-show="videoListMode && (filter !== 'SubBox' || searchFilter !== '' || selectedTag !== null)" class="menuButton">
                <p class="material-icons">filter_list</p>
                <p>Reset all filters</p>
            </div>
            <div @click="deleteFilteredVideos()" v-show="videoListMode && (filter !== 'SubBox' || searchFilter !== '' || selectedTag !== null)" class="menuButton">
                <p class="material-icons">delete_sweep</p>
                <p>Move all to Trashbin</p>
            </div>
            <div @click="deleteFilteredPlaylistVideos()" v-show="uniqueListMode && playlistFilter !== ''" class="menuButton">
                <p class="material-icons">delete_sweep</p>
                <p>Remove all filtered</p>
            </div>
            <div @click="deleteNotFilteredPlaylistVideos()" v-show="uniqueListMode && playlistFilter !== ''" class="menuButton">
                <p class="material-icons">delete_sweep</p>
                <p>Keep only filtered</p>
            </div>
            <div @click="deleteCompletePlaylist()" v-show="uniqueListMode" class="menuButton">
                <p class="material-icons">delete_sweep</p>
                <p>Delete whole Playlist</p>
            </div>
            <div @click="toggleInformationMode()" class="menuButton">
                <p class="material-icons">priority_high</p>
                <p>About</p>
            </div>
        </div>

        <div v-show="informationMode" id="informationOverlay">
            <div class="informationOverlayRow">
                <p>SubBox Version:</p>
                <label>{{informationContent[0]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Newest SubBox Version:</p>
                <label>{{newestVersion}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Author:</p>
                <label>{{informationContent[1]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Amount of Videos in Total:</p>
                <label>{{informationContent[2]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Amount of Videos in Playlists:</p>
                <label>{{informationContent[3]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Amount of Videos in Trashbin:</p>
                <label>{{informationContent[4]}}</label>
            </div>
            <div class="informationOverlayRow tooltip">
                <div class="tooltiptext ttdown">Does not include Playlists/Trashbin</div>
                <p>Total Duration of Videos:</p>
                <label>{{totalLength}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Duration of filtered Videos:</p>
                <label>{{filteredLength}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Amount of Channels:</p>
                <label>{{informationContent[5]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Amount of downloaded Videos:</p>
                <label>{{informationContent[6]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Disk Space occupied:</p>
                <label>{{informationContent[7]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Disk Space remaining:</p>
                <label>{{informationContent[8]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Time of last Refresh:</p>
                <label>{{informationContent[9]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Developer Mode:</p>
                <label>{{informationContent[10]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Autostart:</p>
                <label>{{informationContent[11]}}</label>
            </div>
            <div class="informationOverlayRow">
                <p>Firefox Compatibility Mode:</p>
                <label>{{(isFirefox ? "On" : "Off")}}</label>
            </div>
            <button @click="informationMode = false" class="material-icons tooltip"><div class="tooltiptext ttleft">Close Window</div>exit_to_app</button>
        </div>

        <div v-show="messages.length !== 0" id="notifications">
            <div @click="execEvent(message)" class="message" v-for="message in messages">
                <img :src="message.thumbUrl"/>
                <div>
                    <p>{{message.title}}</p>
                    <p style="font-size: 14px">{{message.subtitle}}</p>
                    <p style="font-size: 14px">{{message.text}}</p>
                </div>
            </div>
        </div>

        <div v-show="uniqueListMode" class="overlayUniqueList">
            <nav>
                <p>Playlist</p><p class="material-icons">view_list</p><p>|</p>
                <button @click="showListInput()" class="material-icons tooltip"><div class="tooltiptext ttdown">Extend Playlist</div>playlist_add</button>
                <div v-show="inputListMode" class="inputList">
                    <input @keyup.enter="submitPlaylist" v-model="addPlayList" autocomplete="off" type="text" name="PlaylistIdUnqiue" placeholder="Playlist Id..." />
                    <button @click="submitPlaylist" class="material-icons">search</button>
                </div>
                <div style="display: flex; margin-left: auto;">
                    <input v-model="playlistFilter" type="text" autocomplete="off" placeholder="Search" />
                    <p class="Title" style="margin-top:0;">{{filteredPlaylist.length}}{{ (uniqueList.length !== filteredPlaylist.length) ? (' / ' + uniqueList.length) : ''}}</p>
                </div>
                <button @click="closeUniqueList" class="material-icons closeUniqueListButton tooltip"><div class="tooltiptext ttdown">Back</div>exit_to_app</button>
            </nav>

            <div class="scrollList">
                <table class="uniqueList">
                    <tr v-for="video in filteredPlaylist">
                        <td>
                            <div class="videoBox">
                                <div class="videoContentDiv">
                                    <div @click="openVideo(video.id)" @click.middle="openVideo(video.id)" class="videoThumb">
                                        <img :src="video.thumbnailUrl" style="width:246px;height:138px" />
                                        <p>{{video.duration}}</p>
                                    </div>
                                    <div class="videoTextContentDiv">
                                        <div class="videoTitleDiv">
                                            <div class="videoTitleAndMetaDiv">
                                                <div @click="openVideo(video.id)" @click.middle="openVideo(video.id)" class="videoTitle">
                                                    {{video.title}}
                                                </div>
                                                <div class="videoText">
                                                    <span class="videoTextChannel" @click="openChannel(video.channelName)">{{video.channelTitle}}</span> &#9679 {{video.publishedAtString}}
                                                </div>
                                            </div>
                                            <div class="videoTitleButtons">
                                                <button class="material-icons videoTitleButton tooltip" @click="deleteVideo(video)"><div class="tooltiptext ttright">Remove from Playlist</div>clear</button>
                                            </div>
                                        </div>

                                        <div class="videoDesc">
                                            <p>{{video.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div v-show="trashbinMode" class="overlayUniqueList">
            <nav>
                <p>Trashbin</p><p class="material-icons">view_list</p><p>|</p>
                <p class="Title" style="margin-top:0;">{{oldVideos.length}} Video{{(oldVideos.length != 1) ? 's' : ''}}</p>
                <button @click="closeTrashbin" class="material-icons closeUniqueListButton tooltip"><div class="tooltiptext ttdown">Back</div>exit_to_app</button>
            </nav>
            <div class="scrollList">
                <table class="uniqueList">
                    <tr v-for="video in oldVideos">
                        <td>
                            <div class="videoBox">
                                <div class="videoChannelDiv">
                                    <img :src="video.channelPicUrl" style="left:0;width:32px;height:32px;border-radius: 50%;vertical-align:middle;cursor:pointer;" @click="openChannel(video.channelName)" />
                                    <span class="videoHeaderName" @click="openChannel(video.channelName)">{{video.channelTitle}}</span>
                                </div>
                                <div class="videoContentDiv">
                                    <div @click="openVideo(video.id)" @click.middle="openVideo(video.id)" class="videoThumb">
                                        <img :src="video.thumbnailUrl" style="width:246px;height:138px" />
                                        <p>{{video.duration}}</p>
                                    </div>
                                    <div class="videoTextContentDiv">
                                        <div class="videoTitleDiv">
                                            <div class="videoTitleAndMetaDiv">
                                                <div @click="openVideo(video.id)" @click.middle="openVideo(video.id)" class="videoTitle">
                                                    {{video.title}}
                                                </div>
                                                <div class="videoText">
                                                    <span class="videoTextChannel" @click="openChannel(video.channelName)">{{video.channelTitle}}</span> &#9679 {{video.publishedAtString}}
                                                </div>
                                            </div>
                                            <div class="videoTitleButtons">
                                                <button class="material-icons videoTitleButton tooltip" @click="reactivateVideo(video)"><div class="tooltiptext ttright">Add back to SubBox</div>add</button>
                                            </div>
                                        </div>

                                        <div class="videoDesc">
                                            <p>{{video.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <nav v-show="videoListMode" class="mainNav">
            <button @click="showChannels" class="material-icons tooltip" v-bind:class="{activeNavButton : channelMode}"><div style="left: 0" class="tooltiptext ttdown">Channel List</div>{{(filter === 'SubBox') ? 'account_box' : 'star'}}</button>
            <button @click="showListInput()" class="material-icons tooltip" v-bind:class="{activeNavButton : inputListMode}"><div class="tooltiptext ttdown">Add Playlist</div>playlist_add</button>
            <div v-show="inputListMode" class="inputList">
                <input @keyup.enter="submitPlaylist" v-model="addPlayList" autocomplete="off" type="text" name="PlaylistId" placeholder="Playlist Id..." />
                <button @click="submitPlaylist" class="material-icons">search</button>
            </div>
            <button @click="showOldVideos" class="material-icons tooltip"><div class="tooltiptext ttdown">Trashbin</div>delete</button>
            <button @click="showTags" class="material-icons tooltip" v-bind:class="{activeNavButton : tagsMode}"><div class="tooltiptext ttdown">Tags</div>label</button>
            <p class="selectedTag" v-if="selectedTag != null">{{selectedTag.name}}</p>
            <div class="topbar" style="margin-left: auto">
                <input class="search" v-model="searchFilter" type="text" autocomplete="off" placeholder="Search" />
                <p class="Title" style="cursor: default;">{{filter}} - {{filteredVideos.length}}{{ (videos.length !== filteredVideos.length) ? (' / ' + videos.length) : ''}}</p>
            </div>

            <button style="margin-left: auto" @click="switchDesign" class="material-icons tooltip"><div class="tooltiptext ttdown">Light/Dark Theme</div>highlight</button>
            <button @click="showSettings" class="material-icons tooltip" v-bind:class="{activeNavButton : settingsMode}"><div class="tooltiptext ttdown">Settings</div>settings_applications</button>
            <button @click="window.location.replace('http://localhost:5000/localbrowser.html');" class="material-icons tooltip"><div class="tooltiptext ttdown">SubBox Nightly</div>archive</button>
            <button @click="refresh" class="material-icons refreshButton">autorenew</button>
        </nav>

        <div v-show="settingsMode" class="settingsOverlay">
            <table>
                <tr style="border-bottom: 1px solid var(--font_title)">
                    <td colspan="2">
                        <p>SubBox - Settings</p>
                    </td>
                </tr>
                <tr>
                    <td><div class="tooltip"><div class="tooltiptext ttleft">Timespan of Videos that gets retrieved when adding a Channel</div>Channel Retrieval (Days)</div></td>
                    <td>
                        <div class="numberInput">
                            <button @click="changeSetting('NCT',-1)" class="material-icons">remove</button>
                            <input v-model="settingNCT" type="number" id="NCT" name="NCT" min="1" max="30" />
                            <button @click="changeSetting('NCT',+1)" class="material-icons">add</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="tooltip"><div class="tooltiptext ttleft">Timespan of Videos that gets retrieved when Refreshing</div>Retrieval Time (Days)</div></td>
                    <td>
                        <div class="numberInput">
                            <button @click="changeSetting('RT',-1)" class="material-icons">remove</button>
                            <input v-model="settingRT" type="number" id="RT" name="RT" min="1" max="7" />
                            <button @click="changeSetting('RT',+1)" class="material-icons">add</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="tooltip"><div class="tooltiptext ttleft">Automatically delete Videos in the Trashbin once they hit a certain Age in Days</div>Deletion Time (Days)</div></td>
                    <td>
                        <div class="numberInput">
                            <button @click="changeSetting('DT',-1)" class="material-icons">remove</button>
                            <input v-model="settingDT" type="number" id="DT" name="DT" min="7" />
                            <button @click="changeSetting('DT',+1)" class="material-icons">add</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="tooltip"><div class="tooltiptext ttleft">Amount of Videos in a Playlist you go back to before they get deleted</div>Playlist Playback Size</div></td>
                    <td>
                        <div class="numberInput">
                            <button @click="changeSetting('PPS',-1)" class="material-icons">remove</button>
                            <input v-model="settingPPS" type="number" id="PPS" name="PPS" min="1" />
                            <button @click="changeSetting('PPS',+1)" class="material-icons">add</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Accent Color</td>
                    <td>
                        <div class="numberInput">
                            <button @click="resetColor" class="material-icons">replay</button>
                            <input v-model="settingColor" id="colorPicker" @change="setColor()" class="jscolor" />
                            <button class="material-icons" style="color: transparent; background: transparent; cursor: default; border: transparent;">add</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="tooltip"><div class="tooltiptext ttleft">Video Quality used when Downloading</div>Preferred Quality</div>
                    </td>
                    <td>
                        <div class="numberInput">
                            <select v-model="settingPQ" @change="changes = true;">
                                <option value="0">
                                    2160p60
                                </option>
                                <option value="1">
                                    2160p30
                                </option>
                                <option value="2">
                                    1440p60
                                </option>
                                <option value="3">
                                    1440p30
                                </option>
                                <option value="4">
                                    1080p60
                                </option>
                                <option value="5">
                                    1080p30
                                </option>
                                <option value="6">
                                    720p60
                                </option>
                                <option value="7">
                                    720p30
                                </option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <transition name="fade">
                            <p class="changeWarning" v-if="changes">Unsaved Changes!</p>
                        </transition>
                        <button @click="closeSettings" class="material-icons closeChannelsButton tooltip"><div class="tooltiptext ttleft">Save Changes</div>save</button>
                    </td>
                </tr>
            </table>
        </div>

        <div id="tagsUI" v-show="tagsMode" class="overlay">
            <div class="addTagDiv">
                <input @keyup.enter="submitTag" class="addTagInput" v-model="addTag" type="text" autocomplete="off" placeholder="Enter Tag Name..." />
                <button @click="submitTag" class="material-icons addTagButton">add</button>
            </div>
            <table class="channelList" v-for="tag in tags">
                <tr v-bind:class="{ locked: selectedTag != null && selectedTag.name == tag.name }" class="channelRow">
                    <td class="channelNameColumn" style="width: 210px">
                        {{tag.name}}
                    </td>
                    <td class="channelButtonColumn" style="width: 100px">
                        <button @click="selectTag(tag)" class="material-icons deleteChannelButton tooltip"><div class="tooltiptext tooltiptextInverseColor ttleft">Select Tag</div>star</button>
                        <button @click="editTag(tag)" class="material-icons deleteChannelButton tooltip"><div class="tooltiptext tooltiptextInverseColor ttleft">Edit Tag</div>create</button>
                        <button @click="deleteTag(tag)" class="material-icons deleteChannelButton tooltip"><div class="tooltiptext tooltiptextInverseColor ttleft">Delete Tag</div>clear</button>
                    </td>
                </tr>
                <tr class="tagFilterRow" v-if="tag.inEdit">
                    <td colspan="2">
                        <table class="tagFilterTable" v-for="(tagFilter,index) in tag.filterList">
                            <tr>
                                <td style="width: 80%">
                                    {{index + 1}}: {{tagFilter}}
                                </td>
                                <td>
                                    <button @click="deleteFilter(tag,tagFilter)" class="material-icons deleteTagFilterButton tooltip"><div class="tooltiptext ttleft">Delete Tag Filter</div>clear</button>
                                </td>
                            </tr>
                        </table>
                        <div class="addTagFilterDiv">
                            <input @keyup.enter="addFilterToTag(tag)"  class="addTagFilterInput" v-model="addTagFilter" type="text" autocomplete="off" placeholder="Enter Filter..." list="channels"/>
                            <datalist id="channels">
                                <option v-for="ch in channels">{{ch.displayname}}</option>
                            </datalist>
                            <button @click="addFilterToTag(tag)" class="material-icons addTagFilterButton">add</button>
                        </div>
                        <button @click="saveFilters(tag)" class="material-icons closeChannelsButton tooltip"><div class="tooltiptext ttleft">Save Changes</div>save</button>
                    </td>
                </tr>
            </table>
            <button @click="showTags" class="material-icons closeChannelsButton tooltip"><div class="tooltiptext ttleft">Close Window</div>exit_to_app</button>
        </div>

        <div id="channelUI" v-show="channelMode" class="overlay">
            <table class="channelList" v-for="channel in channels">
                <tr v-bind:class="{ locked: channel.locked }" class="channelRow">
                    <td>
                        <img :src="channel.thumbnailUrl" @click="openChannel(channel.username)" />
                    </td>
                    <td class="channelNameColumn">
                        {{channel.displayname}}
                    </td>
                    <td class="channelButtonColumn">
                        <button @click="setFilter(channel)" class="material-icons deleteChannelButton tooltip"><div class="tooltiptext tooltiptextInverseColor ttleft">Only Show Videos by {{channel.displayname}}</div>star</button>
                        <button @click="markChannelDeletion(channel)" class="material-icons deleteChannelButton tooltip"><div class="tooltiptext tooltiptextInverseColor ttleft">Remove Channel</div>clear</button>
                    </td>
                </tr>
                <tr v-if="removeChannel != null && removeChannel.id == channel.id" class="removeChannelRow">
                    <td style="padding-left: 10px;" colspan="2">
                        Remove {{channel.displayname}}?
                    </td>
                    <td colspan="1">
                        <button @click="deleteChannel(channel)" class="material-icons deleteTagFilterButton tooltip"><div class="tooltiptext ttleft">Remove Channel</div>check</button>
                        <button @click="removeChannel = null;" class="material-icons deleteTagFilterButton tooltip"><div class="tooltiptext ttleft">Keep Channel</div>clear</button>
                    </td>
                </tr>
            </table>
            <div class="channelLastRowDiv">
                <div>
                    <input @keyup.enter="submitChannel()" v-model="addChannelName" autocomplete="off" type="text" name="Username" placeholder="Channel Name..." />
                    <button @click="submitChannel()" class="material-icons addChannelButton">add</button>
                </div>
                <div>
                    <button @click="closeChannels" class="material-icons closeChannelsButton tooltip"><div class="tooltiptext ttleft">Close Window</div>exit_to_app</button>
                </div>
            </div>
        </div>

        <div class="spacer">

        </div>
        <table v-show="videoListMode && filter==='SubBox' && searchFilter === '' && selectedTag == null" class="listList">
            <tr v-for="video in lists">
                <td>
                    <div class="videoBox">
                        <div class="videoContentDiv">
                            <div @click="openVideo(video.id)" @click.middle="openVideo(video.id)" class="videoThumb">
                                <img :src="video.thumbnailUrl" style="width:246px;height:138px" />
                                <p>{{video.duration}}</p>
                            </div>
                            <div class="videoTextContentDiv">
                                <div class="videoTitleDiv">
                                    <div style="width: 100%" class="videoTitleAndMetaDiv">
                                        <div @click="openVideo(video.id)" @click.middle="openVideo(video.id)" class="videoTitle">
                                            {{video.title}}
                                        </div>
                                        <div class="videoText">
                                            <span class="videoTextChannel" @click="openChannel(video.channelName)">{{video.channelTitle}}</span> &#9679 {{video.publishedAtString}}
                                        </div>
                                    </div>
                                </div>

                                <div class="videoDesc">
                                    <p>{{video.description}}</p>
                                </div>

                                <div class="playlistButtonDiv">
                                    <p class="playlistHint">PLAYLIST</p>
                                    <button @click="prev(video.list)" style="margin-left: auto" class="material-icons listButton tooltip"><div class="tooltiptext ttleft">Previous Video</div>fast_rewind</button>
                                    <button @click="next(video.list)" class="material-icons listButton tooltip"><div class="tooltiptext ttright">Next Video</div>fast_forward</button>
                                    <button @click="showUniqueList(video.list)" class="material-icons listButton tooltip"><div class="tooltiptext ttright">Show Playlist</div>view_list</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <table v-show="videoListMode" class="videoList">
            <tr v-for="video in filteredVideos">
                <td>
                    <div class="videoBox">
                        <div class="videoChannelDiv">
                            <img :src="video.channelPicUrl" style="left:0;width:32px;height:32px;border-radius: 50%;vertical-align:middle;cursor:pointer;" @click="openChannel(video.channelName)" />
                            <span class="videoHeaderName" @click="openChannel(video.channelName)">{{video.channelTitle}}</span>
                        </div>
                        <div class="videoContentDiv">
                            <div @click="openVideo(video.id)" @click.middle="openVideo(video.id)" class="videoThumb">
                                <img :src="video.thumbnailUrl" style="width:246px;height:138px" />
                                <p>{{video.duration}}</p>
                            </div>
                            <div class="videoTextContentDiv">
                                <div class="videoTitleDiv">
                                    <div class="videoTitleAndMetaDiv">
                                        <div @click="openVideo(video.id)" @click.middle="openVideo(video.id)" class="videoTitle">
                                            {{video.title}}
                                        </div>
                                        <div class="videoText">
                                            <span class="videoTextChannel" @click="openChannel(video.channelName)">{{video.channelTitle}}</span> &#9679 {{video.publishedAtString}}
                                        </div>
                                    </div>
                                    <div class="videoTitleButtons">
                                        <button v-show="video.dlstatus == 0" class="material-icons videoTitleButton tooltip" @click="downloadVideo(video)"><div class="tooltiptext ttleft">Download Video</div>save_alt</button>
                                        <button v-show="video.dlstatus == 1" class="dlStatus1Button" style="cursor: default;">{{video.dlprogress}}% Finished</button>
                                        <button v-show="video.dlstatus == 2" class="dlStatus2Button" @click="window.location.replace('http://localhost:5000/localbrowser.html?id=' + video.id);">Available in Nightly</button>
                                        <button class="material-icons videoTitleButton tooltip" @click="deleteVideo(video)"><div class="tooltiptext ttright">Move to Trashbin</div>clear</button>
                                    </div>
                                </div>

                                <div class="videoDesc">
                                    <p>{{video.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <div class="bottomDiv">
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/MilchRatchet/SubBox" class="bottomDivEntry"><i class="bd-github"></i> Github</a>
            <a href="http://localhost:5000/tutorial.html" class="bottomDivEntry"><i class="bd-html5"></i>Introduction</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/" class="bottomDivEntry"><i class="bd-youtube"></i>Youtube</a>
        </div>
    </div>

    <script src="js/index.js"></script>

</body>



</html>

