body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
    color: #fafafa;
    background: #0d0d0d;
    padding: 0;
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#app {
    height: 500px;
}

p {
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

video {
    width: 60%;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 1);
}

table {
    border-collapse: collapse;
}

    table td {
        max-width: 265px;
        line-height: 16px;
    }

nav {
    display: flex;
    align-items: center;
    position: absolute;
    margin: 0;
    width: 200px;
    height: 32px;
    border-bottom-right-radius: 5px;
    background: linear-gradient(to right, #8f54f1, #9f45e1, #ce1160, #de0150);
    background-position: left;
    background-size: 200%;
    padding: 5px;
    transition: 0.5s;
    cursor: default;
}

    nav p {
        margin-left: 5px;
        font-size: 20px;
    }

    nav:hover {
        background-position: right;
        transition: 0.5s;
    }

input {
    width: 250px;
    background: #2a2a2a;
    border-color: #2a2a2a;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px 0 0 5px;
    color: #ffffff;
    font-size: 16px;
    padding: 5px;
}

    input:hover, input:focus {
        background: #3a3a3a;
        border-color: #3a3a3a;
    }

.activeSearch {
    background: none;
    border-color: #8f54f1;
}

    .activeSearch:hover, .activeSearch:focus {
        background: none;
        border-color: #af64f1;
    }

.deleteModeButton {
    padding: 0 8px 0 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: none;
    background: #2a2a2a;
    border-radius: 0 5px 5px 0;
    color: #fafafa;
    margin-left: 2px;
    width: 24px;
    transition: width 0.2s;
}

    .deleteModeButton:hover {
        background: #3a3a3a;
    }

.activeDeletion {
    background: #8f54f1;
    width: 160px;
    transition: width 0.5s;
}

    .activeDeletion p {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        padding-left: 5px;
    }

    .activeDeletion:hover {
        background: #af64f1;
    }

.grid {
    z-index: 2;
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-rows: 240px;
    grid-gap: 20px;
    align-items: start;
    align-content: start;
    width: 90%;
    margin-left: 5%;
    margin-top: 60px;
}

.gridVideo {
    border-radius: 0;
    width: 320px;
    height: 256px;
    border-color: #8f54f1;
    border-style: solid;
    border-width: 3px;
    cursor: default;
    height: 180px;
    transition: 0.2s;
}

    .gridVideo:hover {
        border-color: #ff0166;
        border-style: solid;
        border-width: 3px;
        height: 238px;
        transition: 0.2s;
    }

        .gridVideo:hover .infoBox {
            opacity: 100%;
            margin-top: 0;
            transition: opacity 0.3s;
        }

.channelPic {
    border-radius: 100%;
    width: 32px;
    height: 32px;
    margin-top: -5px;
}

.infoBox {
    opacity: 0%;
    margin-top: -100px;
    padding: 6px;
    align-items: center;
    display: flex;
}

.videoTitle {
    display: inline-block;
    margin-left: 5px;
    font-weight: bold;
    width: 100%;
    font-size: 15px;
}

.videoThumbDiv {
    position: relative;
    cursor: pointer;
}

.videoThumb {
    width: 320px;
    height: 180px;
}

.videoThumbDuration {
    font-size: 12px;
    font-weight: 500;
    bottom: 6px;
    right: 3px;
    color: white;
    background: rgba(0,0,0,0.8);
    position: absolute;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
}

.channelTitle {
    display: inline-block;
    margin-left: 5px;
    margin-top: -50px;
    width: 100%;
    color: #b8b8b8;
    font-size: 15px;
}

.titleBox {
    display: flex;
    justify-content: center;
    padding: 4px;
}

.videoOverlay {
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(60px);
}

.emptyOverlay {
    z-index: 4;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    height: 90%;
}

    .emptyOverlay p {
        font-size: 26px;
        font-weight: bold;
    }

.navigationBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 5px;
}

    .navigationBox button {
        border: none;
        background: linear-gradient(to right, #009f5f, #008f5f, #118f9f, #117fbf);
        background-position: left;
        background-size: 200%;
        background: #00efbf22;
        border: 1px solid #00efbf;
        color: #fafafa;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: bold;
        padding: 2px 10px 2px 10px;
        margin: 0 5px 0 5px;
    }

        .navigationBox button:hover {
            color: #ffffff;
            background: #00efbf88;
            background-position: right;
            box-shadow: 0 0 15px -7px #117fbf;
        }

    .navigationBox .deleteButton {
        background: linear-gradient(to right, #cf006f, #db4437, #db4437);
        background-position: left;
        background-size: 200%;
        background: #db443722;
        border: 1px solid #db4437;
    }

        .navigationBox .deleteButton:hover {
            background: #db443788;
            box-shadow: 0 0 15px -7px #db4437;
            background-position: right;
        }

    .navigationBox p {
        padding: 2px 6px 2px 6px;
        cursor: default;
        float: left;
        color: #fafafa;
        border: 1px solid #9f64ff;
        background: #9f64ff33;
    }

.exitButton {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    height: 40px;
    width: 150px;
    font-size: 20px;
    margin-right: 0;
    margin-top: 0;
    border: none;
    background: linear-gradient(to right, #131313 50%, #db4437 50%);
    background-size: 200%;
    background-position: left;
    color: #fafafa;
    border-bottom-left-radius: 5px;
    transition: 0.5s;
}

    .exitButton:hover {
        color: #fafafa;
        background: linear-gradient(to right, #131313 50%, #db4437 50%);
        background-size: 200%;
        background-position: right;
        transition: 0.5s;
    }

.filterDiv {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    top: 7px;
    left: calc(50% - 225px);
    width: 450px;
}